.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #822832;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.Roc {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.dr{
  float: left;
}
.dr a {
  display: block;
  color: #F8F6D4;
  text-align: center;
  padding: 14px 50px;
  text-decoration: none;
}
.dr a:hover:not(.active) {
  background-color: #111;
}
h1{
  font-family: "Times New Roman", Times, serif;
  color: #8A9597;
}